
.ipynb_checkpoints/DataPrep1-JLModel-checkpoint.ipynb
.ipynb_checkpoints/KNN_Position_JL-checkpoint.ipynb
.ipynb_checkpoints/KNN_Salary_JL-checkpoint.ipynb
.ipynb_checkpoints/DataPrep1-checkpoint.ipynb
